@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    background: #201b2c;
    font-family: "Noto Sans", sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-page{
    width: 100vw;
    height: 100%;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left-page{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right-page{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-metrics{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.left-page > h1{
    font-size: 3vw; 
    color: #77ffc0;
    margin: 25px 0px;
}
.left-page > p{
    font-size: 16px; 
    margin: 1px 0px;
    color: #f0ffffde;
}

.card-metrics > h1{
    color: #00ff88;
    font-weight: 800px;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px; 
}
.orderedList{
    color: #f0ffffde;
    margin-bottom: 10px; 
}
.textfield > li{
    color: #f0ffffde;
    margin-bottom: 10px; 
}
.textfield > label::placeholder{
    color: #f0ffff94;
    margin-bottom: 10px; 
}

.btn{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950){
    .card-metrics{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-page{
        flex-direction: column;
    }
    .left-page{
        width: 100%;
        height: auto;
    }
    .right-page{
        width: 100%;
        height: auto;
    }

    .card-metrics{
        width: 90%;
    }
}